.container {
  position: relative;
  text-align: center;
  color: white;
}



.centered {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  width: 100%;
  object-fit: fill;

}

mat-card-content {
  font-size: large;
}

.carouselImage { width:160%; max-height: 600px; }
::ng-deep .container-fluid { padding: 0 !important; }

.example-card{
  border-radius: 20px;
  border-color: black;
  border: 30px black;
  margin-top: 10px;
  background-color: #E4E9F1;
}

.container-fluid {
  margin: 0px 100px 100px 100px;
}

.feedback-title{
  margin: 5px;
  font-size: larger;
}
