<div xmlns="http://www.w3.org/1999/html">

  <div class="container">
    <img src="assets/hospital5.jpg" id="image" style="width:100%; height: 450px">
    <div class="centered">
      <h1 style="font-size:30px">Health is everything. We can do anything.</h1>
      <br>
      <h2>
        We are NEW Hospital – a new and state-of-the-art general hospital in the region.
      </h2>
      <h3>We are located in Novi Sad, at Alberta Ajnstajna Street No. 1. <br>
        We provide patients with a complete medical service, from diagnostics <br>
        to surgical interventions towards cure, respecting all the requirements <br>
        of the modern medical profession. </h3>
      <h3 style="font-size:20px">Together we can and do everything for your health.</h3></div>
  </div>
  <div class="feedback-title">
    <br> <br>
    <h1>What our patients say about us?</h1>
    <br>
  </div>
  <div>
    <div *ngFor="let feedback of feedbacks">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>
            <div *ngIf="feedback.isAnonymous ; else elseBlock">Anonymous</div>
            <ng-template #elseBlock>
              <div> {{feedback.patient.name}} {{feedback.patient.surname}}</div>
            </ng-template>
          </mat-card-title>
        </mat-card-title-group>
        <mat-card-subtitle>
          {{feedback.date | date : 'dd-MM-yyyy'}}
        </mat-card-subtitle>
        <mat-card-content>
          {{feedback.text}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      color="accent"
      maxWidth="auto"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr">
      <ng-container *ngFor="let slide of news; let i = index">
        <mat-carousel-slide
          #matCarouselSlide>
          <img [src]="'data:image/jpeg;base64,' + slide.base64image">
        </mat-carousel-slide>
      </ng-container>

    </mat-carousel>

  </div>
  <div *ngFor="let slide of news">
    <img [src]="'data:image/jpeg;base64,' + slide.base64image">
  </div>
</div>
