<div>
  <div style="width: 50%; height: 50%">
<div class="container-main" >
  <div class="container" [ngClass]="rightActive ? 'right-panel-active' :''"  id="container">
    <div class="form-container sign-up-container">
      <div class="form-replacement">
        <div class="title-container">
          <h1 class="title">Create Account</h1>
          <span>or use your email for registration</span>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <input matInput [(ngModel)]="createPatientModel.name" class="mat-input-element" type="text" placeholder="Name" /><br>
            <input matInput [(ngModel)]="createPatientModel.surname" class="mat-input-element" type="text" placeholder="Surname" /><br>
            <input matInput [(ngModel)]="createPatientModel.username" class="mat-input-element" type="text" placeholder="Username" /><br>
            <input matInput [(ngModel)]="createPatientModel.email" class="mat-input-element" type="email" placeholder="E-mail" /><br>
            <input matInput [(ngModel)]="createPatientModel.password" class="mat-input-element" type="password" placeholder="Password" /><br>
            <input matInput [(ngModel)]="createPatientModel.jmbg.Text" class="mat-input-element" type="text" placeholder="Jmbg" /><br>
            <div class="date-wrapper">
              <input matInput [(ngModel)]="createPatientModel.dateOfBirth" placeholder="Date Of Birth" class="mat-input-element2" [matDatepicker]="picker">
              <mat-datepicker-toggle class="suffix" matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
          <div class="grid-item">
            <input matInput [(ngModel)]="createPatientModel.address.country" class="mat-input-element" type="text" placeholder="Country" /><br>
            <input matInput [(ngModel)]="createPatientModel.address.city" class="mat-input-element" type="text" placeholder="City" /><br>
            <input matInput [(ngModel)]="createPatientModel.address.street" class="mat-input-element" type="text" placeholder="Street" /><br>
            <input matInput [(ngModel)]="createPatientModel.address.streetNumber" class="mat-input-element" type="text" placeholder="Number" /><br>
            <input matInput  [(ngModel)]="createPatientModel.address.postcode" class="mat-input-element" type="text" placeholder="Postal Code" /><br>
            <input matInput [(ngModel)]="createPatientModel.phone" class="mat-input-element" type="text" placeholder="Phone Number" /><br>
          </div>
          <div class="grid-item grid-itemBig">
            <app-general-doctors-available (onSelectedDoctor)="onSelectingDoctor($event)"></app-general-doctors-available><br>
            <mat-form-field appearance="fill">
              <mat-label>Blood type</mat-label>
              <mat-select [(ngModel)]="createPatientModel.bloodType">
                <mat-option *ngFor="let type of bloodTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <app-all-allergens (onSelectedAllergen)="onSelectingAllergen($event)"></app-all-allergens>
          </div>
        </div>
        <button (click)="register()">Sign Up</button>
      </div>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="title-container">
          <h1>Sign in</h1>
          <span>or use your account</span>
        </div>
        <input type="text" placeholder="Username"  name="userId" formControlName="username"/>
        <input type="password" placeholder="Password" formControlName="password"/>
        <a href="#">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="activatePanel()">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" (click)="activatePanel()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
