<!--
<div class="container">
  <h1 style="margin-bottom:20px ">Appointments</h1>
  <mat-tab-group [selectedIndex]="getSelectedIndex()"  (selectedTabChange)="onTabChange($event)"> mat-align-tabs="start">
  <mat-tab label="Monday">
    <app-appointments-preview (onDelete)="onDelete()" [appointments]="filterAppointmentByMonday()"></app-appointments-preview>
  </mat-tab>
  <mat-tab label="Tuesday">
    <app-appointments-preview (onDelete)="onDelete()" [appointments]="filterAppointmentByTuesday()"></app-appointments-preview>
  </mat-tab>
  <mat-tab label="Wednesday">
    <app-appointments-preview id="wednesday" (onDelete)="onDelete()" [appointments]="filterAppointmentByWednesday()"></app-appointments-preview>
  </mat-tab>
  <mat-tab label="Thursday">
    <app-appointments-preview (onDelete)="onDelete()" [appointments]="filterAppointmentByThursday()"></app-appointments-preview>
  </mat-tab>
  <mat-tab label="Friday">
    <app-appointments-preview (onDelete)="onDelete()" [appointments]="filterAppointmentByFriday()"></app-appointments-preview>
  </mat-tab>
  <mat-tab label="Saturday">
    <app-appointments-preview (onDelete)="onDelete()" [appointments]="filterAppointmentBySaturday()"></app-appointments-preview>
  </mat-tab>
  <mat-tab label="Sunday">
    <app-appointments-preview (onDelete)="onDelete()" [appointments]="filterAppointmentBySunday()"></app-appointments-preview>
  </mat-tab>
</mat-tab-group>
</div>
-->
<div class="container-calendar">

<ng-template #customTemplate let-event="event" let-view="view">
<span
  class="event__title"
  [innerHTML]="event.title | calendarEventTitle : view : event"
  [attr.aria-hidden]="{} | calendarA11y : 'hideEventTitle'"
>
  </span>
</ng-template>

<div class="calendar-header">
  <div class="button-group">
    <button class="button-group__button" (click)="handlePrevious()">
      Previous week
    </button>
    <button class="button-group__button" (click)="handleCurrent()">
      Current date
    </button>
    <button class="button-group__button" (click)="handleNext()">
      Next week
    </button>
    <button class="button-group__button" (click)="monthShow()">
      {{viewButton}}
    </button>
  </div>
  <div class="date-range">
    <span
    >{{ viewDate | date : "dd.MM.yyyy." }} -
      {{ viewDateEnd | date : "dd.MM.yyyy." }}</span
    >
  </div>
  <div class="button-group">
    <button
      id="cancel"
      class="button-group__button-app"
      (click)="newAppointment()">
      New appointment
    </button>
  </div>
</div>
<div class="calendar-wrapper" *ngIf="!monthView">
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [daysInWeek]="daysInWeek"
    [dayStartHour]="dayStartHour"
    [dayEndHour]="dayEndHour"
    [events]="events"
    [hourSegmentHeight]="hourSegmentHeight"
    [eventTitleTemplate]="customTemplate"
    (eventClicked)="onEventClick($event)"
  >
  </mwl-calendar-week-view>
</div>
<div class="calendar-wrapper-month" *ngIf="monthView">
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [eventTitleTemplate]="customTemplate"
    (eventClicked)="onEventClick($event)"
  ></mwl-calendar-month-view>
</div>
</div>
