


<mat-card class="name-card">
  <mat-card-title>Patient: {{patient?.name}} {{patient?.surname}}</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>
<div class="inf">
  <mat-card class="info-card">
    <mat-card-title>USER INFORMATION</mat-card-title>
    <mat-card-content>
      <p>Name: {{patient?.name}}</p>
      <mat-divider></mat-divider>
      <p>Surname: {{patient?.surname}}</p>
      <mat-divider></mat-divider>
      <p>Username: {{patient?.username}}</p>
      <mat-divider></mat-divider>
      <p>JMBG: {{patient?.jmbg}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card">
    <mat-card-title>CONTACT INFORMATION</mat-card-title>
    <mat-card-content>
      <p>Phone: {{patient?.phone}}</p>
      <mat-divider></mat-divider>
      <p>E-mail: {{patient?.email}}</p>
      <mat-divider></mat-divider>
      <p>Address: {{patient?.address?.street}} {{patient?.address?.streetNumber}}, {{patient?.address?.city}} {{patient?.address?.postcode}}
        {{patient?.address?.country}}</p>
    </mat-card-content>
  </mat-card>
</div>



