<h1 mat-dialog-title>Leave your feedback</h1>
<div mat-dialog-content>
    <mat-form-field id="feedbackArea" appearance="fill">
        <mat-label>Your feedback here...</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <section class="example-section">
        <mat-checkbox labelPosition="before" class="example-margin">Anonymous?</mat-checkbox>
    </section>
    <section class="example-section">
        <mat-checkbox labelPosition="before" class="example-margin">Public?</mat-checkbox>
    </section>
    <div mat-dialog-action [align]="'end'">
        <button class="dialogButton" mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button class="dialogButton" mat-raised-button color="primary" mat-dialog-close>Send</button>
    </div>
    
</div>
