<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>local_hospital</mat-icon>
  </button>
  <span>Hospital</span>
  <span class="example-spacer"></span>
  <div class="example-button-container">
    <button *ngIf="loggedIn" mat-mini-fab color="primary" matTooltip="Open personal profile" (click)="openProfile()" aria-label="Open profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="loggedIn" mat-mini-fab color="primary" matTooltip="Leave your feedback" (click)="openDialog()" aria-label="Leave feedback">
      <mat-icon>feedback</mat-icon>
    </button>
    <button *ngIf="!loggedIn"   mat-raised-button color="primary" class="mat-raised-button" matTooltip="Login" (click)="openLoginForm()" aria-label="Login">Sign in
    </button>
    <button *ngIf="!loggedIn"  mat-raised-button color="primary" class="mat-raised-button" (click)="openRegistration()" mat-dialog-close>Sign up</button>
    <button *ngIf="loggedIn"  mat-raised-button color="primary" class="mat-raised-button" (click)="onSignOut()" mat-dialog-close>Sign out</button>
  </div>
</mat-toolbar>

