.example-spacer {
    flex: 1 1 auto;
    padding: 2%;
}

.example-icon {
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
}

mat-toolbar {
    color: white;
    background-color: #1B273C;
}

.mat-raised-button {
  margin-left: 8px;
}
.mg-l{
  margin-left: 10px;
}
