<mat-toolbar>
  <button class="hospital-button"  (click)="openHome()">
    <mat-icon>local_hospital</mat-icon>
    Hospital</button>
  <span class="example-spacer">
     <button *ngIf="loggedIn && isPatient" mat-raised-button color="primary" class="mg-l" matTooltip="Schedule an appointment with preference" (click)="openScheduleAppointment()" aria-label="Schedule an appointment">
      Schedule with preference
    </button>
    <button *ngIf="loggedIn && isPatient" mat-raised-button color="primary" class="mg-l" matTooltip="Schedule an appointment" (click)="openScheduleAppointment()" aria-label="Schedule an appointment">
      Schedule
    </button>
    <button *ngIf="loggedIn && isPatient" mat-raised-button color="primary" class="mg-l" matTooltip="Scheduled appointments" (click)="openMyAppointments()" aria-label="Scheduled appointments">
      My appointments
    </button>
  </span>
  <div class="example-button-container">
    <button *ngIf="loggedIn && isPatient" mat-mini-fab color="primary" class="mg-l" matTooltip="Open personal profile" (click)="openProfile()" aria-label="Open profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="loggedIn && isPatient" mat-mini-fab color="primary" class="mg-l" matTooltip="Leave your feedback" (click)="openDialog()" aria-label="Leave feedback">
      <mat-icon>feedback</mat-icon>
    </button>
    <button *ngIf="loggedIn && isPatient" mat-mini-fab color="primary" class="mg-l" matTooltip="Your health" (click)="openHealthRecordDialog()" aria-label="Your health">
      <mat-icon>accessibility icon</mat-icon>
    </button>
    <button *ngIf="!loggedIn && !isSignUpClicked"   mat-raised-button color="primary" class="mat-raised-button" matTooltip="Login" (click)="openLoginForm()" aria-label="Login">Sign in
    </button>
    <button *ngIf="loggedIn"  mat-raised-button color="primary" class="mat-raised-button" (click)="onSignOut()" mat-dialog-close>Sign out</button>
  </div>
</mat-toolbar>

