<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>local_hospital</mat-icon>
  </button>
  <span>Hospital</span>
  <span class="example-spacer"></span>
  <div class="example-button-container">
    <button mat-mini-fab color="warn" matTooltip="Leave your feedback" (click)="openDialog()" aria-label="Leave feedback">
      <mat-icon>feedback</mat-icon>
    </button>
    <button mat-mini-fab  style="margin-left: 2rem; background-color: #334971; color: #DCD6CC" matTooltip="Login/Sign up" (click)="openDialog()" aria-label="Login/Sign up">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>

