.example-section {
  margin: 12px 0;
}

#recordArea {
  width: 346px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  padding-left: 175px;
  padding-top: 10px;
}



.mat-dialog-title {
  font-width: bold;
  justify-content: center;
}

.dialogButton {
  margin: 4px;
  color: white;
}

.dialogButtonCancel {
  margin: 4px;
}

.mat-raised-button {
  margin-left: 6px;
}

#addressButton{
  margin-left: 2.5rem;
}

.mat-form-field {
  margin: 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 5px;
  align-items: flex-start;
}

.mat-footer-cell {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
}

.mat-label {
  margin: 0 80px;

}

.mat-radio-button {
  margin-left: 10px;
}

.combo {
  margin: 8px;
  width: 430px;
}
